@font-face {
  font-family: 'Lack Regular';
  src: url('lack-regular-webfont.woff2') format('woff2'),
    url('lack-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pilowlava';
  src: url('Pilowlava-Regular.woff2') format('woff2'),
    url('Pilowlava-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Le Murmure Regular';
  src: url('Le_Murmure-Regular_web.woff') format('woff'),
    url('Le_Murmure-Regular_web.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Millimetre Regular';
  src: url('Millimetre-Regular_web.woff') format('woff'),
    url('Millimetre-Regular_web.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Millimetre Bold';
  src: url('Millimetre-Bold_web.woff') format('woff'),
    url('Millimetre-Bold_web.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kaerukaeru Regular';
  src: url('kaerukaeru-Regular.woff') format('woff'),
    url('kaerukaeru-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mayenne Sans Regular';
  src: url('Mayenne_Sans-Regular_web.woff') format('woff'),
    url('Mayenne_Sans-Regular_web.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Steps Mono';
  src: url('Steps-Mono.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Savate Regular';
  src: url('savate-regular-webfont.woff2') format('woff'),
    url('savate-regular-webfont.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karrik Italic';
  src: url('Karrik-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karrik Regular';
  src: url('Karrik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Minipax Regular';
  src: url('Minipax-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Minipax SemiBold';
  src: url('Minipax-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tiny180';
  src: url('TINY5x3-180.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Goudy Old Style Regular';

  src: url('./GoudyOldStyleRegular.woff') format('woff'),
    /* Modern Browsers */ url('./GoudyOldStyleRegular.woff2') format('woff2'); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Goudy Old Style Italic';

  src: url('./GoudyOldStyleItalic.woff') format('woff'),
    /* Modern Browsers */ url('./GoudyOldStyleItalic.woff2') format('woff2'); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
